@import 'tailwindcss';

@source "../../content/**/*";
@source "../../components/**/*";

@theme {

  /* Shadcn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-main: var(--main);
  --color-main-foreground: var(--main-foreground);
  --color-subtle: var(--subtle);
  --color-subtle-foreground: var(--subtle-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Base colors */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);

  --color-gray-00: oklch(97.02% 0 0);
  --color-gray-10: oklch(93.4% 0 0);
  --color-gray-20: oklch(88.53% 0 0);
  --color-gray-30: oklch(86.69% 0 0);
  --color-gray-40: oklch(67.97% 0 0);
  --color-gray-55: oklch(50.32% 0 0);
  --color-gray-60: oklch(43.13% 0 0);
  --color-gray-70: oklch(39.04% 0 0);
  --color-gray-80: oklch(45.68% 0 0);
  --color-gray-90: oklch(34.85% 0 0);
  --color-gray-100: oklch(30.12% 0 0);
  --color-gray-110: oklch(26.03% 0 0);
  --color-gray-120: #191919;
  --color-gray-130: oklch(13.44% 0 0);

  --color-brand: oklch(69.55% 0.181 23);
  --color-brand-300: oklch(89.83% 0.05 18.12);
  --color-brand-400: oklch(80.27% 0.105 19.63);
  --color-brand-500: oklch(69.55% 0.181 23);
  --color-brand-600: oklch(55.73% 0.174 21.77);
  --color-brand-700: oklch(55.73% 0.174 21.77);
  --color-brand-800: oklch(55.73% 0.174 21.77);

  --color-success: oklch(74.2% 0.142 163.97);
  --color-error-primary: oklch(58.06% 0.221 19.48);
  --color-error-20: oklch(0.35, 0.9, 350);
  --color-warning: oklch(70.65% 0.169 49.86);
  --color-info: oklch(0.44, 0.64, 212);

  --color-listing-commission: oklch(84.89% 0.164 170.03);
  --color-listing-merchandise: oklch(92.81% 0.183 102.66);
  --color-listing-digital-goods: oklch(78.07% 0.145 226.88);

  /* Background colors */
  --background-color-error: oklch(46.69% 0.184 22.54);
  --background-color-info: oklch(52.62% 0.138 254.62);
  --background-color-transparent: transparent;
  --background-color-primary: var(--color-gray-120);
  --background-color-surface: var(--color-gray-110);
  --background-color-surface-variant: var(--color-gray-100);

  /* Text colors */
  --text-color-primary: var(--color-gray-00);
  --text-color-primary-invert: oklch(13.24% 0 0);
  --text-color-secondary: var(--color-gray-10);
  --text-color-tertiary: var(--color-gray-40);
  --text-color-placeholder: var(--color-gray-40);
  --text-color-disabled: var(--color-gray-60);
  --text-color-error: oklch(69.68% 0.1789 22.9);
  --text-color-icon-primary: var(--color-gray-00);
  --text-color-icon-secondary: var(--color-gray-55);
  --text-color-icon-disabled: var(--color-gray-40);

  /* Border colors */
  --border-color-primary: var(--color-gray-60);
  --border-color-disabled: var(--color-gray-100);
  --border-color-active: var(--color-gray-55);
  --border-color-error: oklch(69.68% 0.1789 22.9);

  /* Font */
  --font-sans: "Noto Sans", sans-serif;

  /* Typography */
  --text-heading-1: 4.5rem;
  --text-heading-1-line-height: 5.625rem;
  --text-heading-1-letter-spacing: 0.02;
  --text-heading-2: 3.75rem;
  --text-heading-2-line-height: 4.5rem;
  --text-heading-2-letter-spacing: 0.02;
  --text-heading-3: 3rem;
  --text-heading-3-line-height: 3.75rem;
  --text-heading-3-letter-spacing: 0.02;
  --text-label-1: 2.25rem;
  --text-label-1-line-height: 2.75rem;
  --text-label-1-letter-spacing: 0.02;
  --text-label-2: 1.875rem;
  --text-label-2-line-height: 2.375rem;
  --text-body-1: 1.5rem;
  --text-body-1-line-height: 2rem;
  --text-body-2: 1.25rem;
  --text-body-2-line-height: 1.875rem;
  --text-body-3: 1.125rem;
  --text-body-3-line-height: 1.75rem;
  --text-caption-1: 1rem;
  --text-caption-1-line-height: 1.5rem;
  --text-caption-2: 0.875rem;
  --text-caption-2-line-height: 1.25rem;
  --text-caption-3: 0.75rem;
  --text-caption-3-line-height: 1.125rem;

  /* Border radius */
  --radius-4xl: 2rem;

  /* Animation */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}


@layer base {
  :root {
    --background: hsl( 240 10% 3.9%);
    --foreground: hsl( 0 0% 98%);
    
    --muted: hsl( 240 3.7% 15.9%);
    --muted-foreground: hsl( 240 5% 64.9%);
    
    --popover: hsl( 240 10% 3.9%);
    --popover-foreground: hsl( 0 0% 98%);
    
    --card: hsl( 240 10% 3.9%);
    --card-foreground: hsl( 0 0% 98%);
    
    --border: hsl( 240 3.7% 15.9%);
    --input: hsl( 240 3.7% 15.9%);
    
    --main: hsl( 0 0% 98%);
    --main-foreground: hsl( 240 5.9% 10%);
    
    --subtle: hsl( 240 3.7% 15.9%);
    --subtle-foreground: hsl( 0 0% 98%);
    
    --accent: hsl( 240 3.7% 15.9%);
    --accent-foreground: hsl( 0 0% 98%);
    
    --destructive: hsl( 0 62.8% 30.6%);
    --destructive-foreground: hsl( 0 0% 98%);
    
    --ring: hsl( 240 4.9% 83.9%);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply -ml-[50px] -mt-1;
    content: counter(step);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}